<h1>Operator admin께서 <%= email%>님의 문의에 답장했습니다.</h1>

<h2>Inquiry subject: <%= subject%></h2>

<p>Inquiry content:</p>

<b><%= question%></b>
<br />
<a href="<%= url%>">문의 확인하기</a>
<p>Operator's reply:</p>
<b><%= reply%></b>
<br /><br />
<%= created%>
