<h1>주문에 입금정보 입력이 완료되었습니다</u></h1>
<h2>주문 정보:</h2>
<ul>
  <li>주문 키: <%= orderKey%></li>
  <li>주문 번호: <%= orderNumber%></li>
  <li>주문 Checkout Price: <%= checkoutPrice%></li>
  <li>입금명: <%= ttDepositor%></li>
  <li>입금금액: <%= paymentConfirmPrice%></li>
  <li>입금일:  <%= paymentConfirmDate%></li>
  <li>주문 생성일: <%= created%></li>
  <br>
</ul>
<br>
<br>
<a href="<%= url%>" target="_blank"><%= url%></a>
